{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static 'main/htmx.min.js' %}" defer></script>

        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">

        <title>warp & weft</title>
    </head>
    <body>
        {% block page_title %}{% endblock page_title %}
        {% block page_content %}{% endblock page_content %}
    </body>
</html>