{% extends "main/header.html" %}
{% load static %}

{% block page_content %}
<div class="homepage-grid">
    <div class="grid__logo">
        <img class="logo" src={% static 'images/weft.svg' %}>
            <a href="{% url 'homepage' %}"></a>
        </img>
    </div>
    <div class="grid__subtitle">
        <p>Some text to mess around with later if it isn't to jam packed. Maybe this is too packed already though?</p>
    </div>

    {% block posts %}
        {% for index, alternateList in alternateList %}
                <div class="homepage-grid__grid-item grid__category index-{{ index }}">
                    <a href="{% url 'blog_category' alternateList.0.pk %}">
                        <h3>{{ alternateList.0.name }}</h3>
                    </a>
                </div>
                <a class="homepage-grid__grid-item grid__post index-{{ index }}" href="{% url 'blog_post' alternateList.1.pk %}">
                    <div class="post__text">
                        <h3>{{ alternateList.1.title }}</h3>
                    </div>
                </a>
        {% endfor %}
    {% endblock posts %}

    {% comment %} Row of warp overflow, LTR {% endcomment %}
    <div class="grid__category-spacer-extra index-0"></div>
    <div class="grid__category-spacer index-0"></div>
    <div class="grid__category-spacer index-1"></div>
    <div class="grid__category-spacer-extra index-1"></div>

    {% comment %}
    Post & Category Spacers, following weft flow line

    Row 1 of alternating posts and cats {% endcomment %}
    <div class="grid__post-spacer index-0"></div>
    {% comment %}
    grid__post index 0
    grid__category index 0
    grid__post index 1
    grid__category index 1
    {% endcomment %}
    <div class="grid__post-spacer index-1"></div>
    <div class="grid__post-loop__outer index-1"></div>
    <div class="grid__post-loop__inner index-1"></div>

    {% comment %}
    Row 2 of alternating posts and cats
    grid__post index 2
    grid__category index 2
    grid__post index 3
    grid__category index 3
    {% endcomment %}
    <div class="grid__post-spacer index-3"></div>
    <div class="grid__post-loop__outer index-3"></div>
    <div class="grid__post-loop__inner index-3"></div>

    {% comment %}
    Row 3 of alternating posts and cats
    grid__post index 4
    grid__category index 4
    grid__post index 5
    grid__category index 5
    {% endcomment %}
    <div class="grid__navigation"><a class="navigation__link" href="{% url 'blog_posts' %}">All posts</a></div>

    {% comment %} Row of warp overflow, LTR {% endcomment %}
    <div class="grid__category-spacer index-4"></div>
    <div class="grid__category-spacer index-5"></div>
</div>
{% endblock page_content %}
