/*
/*
Global styling
/*
/*/
:root {
  --warp-background-color: #fffefa;
  --warp-box-shadow-color: #ebe7e1;
  --weft-background-color: #d1e0de;
  --weft-box-shadow-color: #b1cdca;
  --text-color: #282828;
  --border-line-weight: 2px;
  --site-background-color: #efede4;
  --primary-accent-color: #2f52a0;
  --secondary-accent-color: #eb5b29;
  --tertiary-accent-color: #f9c6c0;
}

body {
  background-color: var(--site-background-color);
  margin: auto;
}

@font-face {
  font-family: "ETBemboBold";
  src: url("../fonts/et-book-bold-line-figures.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ETBemboItalic";
  src: url("../fonts/et-book-display-italic-old-style-figures.woff")
    format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ETBemboRegular";
  src: url("../fonts/et-book-roman-line-figures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  width: 200px;
}

h2,
h3,
button {
  font-family: "ETBemboBold", "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h5,
p,
small,
input {
  font-family: "ETBemboRegular", "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
}

/*
/*
Homepage grid
/*
/*/

.homepage-grid {
  display: grid;
  margin: 0 auto;

  @media (max-width: 719px) {
    grid-template-columns: repeat(2, 8% 38%) 8%;
    grid-template-rows: repeat(6, 30px 150px) 30px;
  }

  @media (min-width: 720px) and (max-width: 1023px) {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0px 40px repeat(4, 180px 40px) 0px;
    grid-template-rows: 100px 40px repeat(3, 180px 40px);
  }

  @media (min-width: 1024px) {
    width: 95vw;
    height: 100vh;
    grid-template-columns: 16% 2% repeat(4, 14.5% 2%) 16%;
    grid-template-rows: 100px 40px repeat(3, 180px 40px) 1fr;
  }
}

/*
Grid item span and placement
/*
/* Common spans */
.grid__category {
  grid-row-end: span 3;
}

.grid__post {
  grid-column-end: span 3;
}

/* Desktop only logo, subtitle, nav */
.grid__logo {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

.grid__logo-tablet {
  grid-column: 5 / span 3;
  grid-row: 1 / span 2;
}

.grid__subtitle {
  grid-column: 10 / span 2;
  grid-row: 1 / span 2;
}

.grid__navigation {
  grid-column: 10 / span 2;
  grid-row: 7;
}

/* Categories and Spacers */
@media (max-width: 719px) {
  .grid__category {
    /* Categories in the first column */
    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 2;
    }

    /* Categories in the second column*/
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 4;
    }

    /* Category rows */
    &.index-0 {
      grid-row-start: 1;
    }

    &.index-1 {
      grid-row-start: 3;
    }

    &.index-2 {
      grid-row-start: 5;
    }

    &.index-3 {
      grid-row-start: 7;
    }

    &.index-4 {
      grid-row-start: 9;
    }

    &.index-5 {
      grid-row-start: 11;
    }
  }

  .grid__category-spacer {
    &.index-0 {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    &.index-5 {
      grid-column-start: 4;
      grid-row-start: 13;
    }
  }
}

@media (min-width: 720px) {
  .grid__category {
    &.index-0 {
      grid-column-start: 5;
      grid-row-start: 2;
    }

    &.index-1 {
      grid-column-start: 9;
      grid-row-start: 2;
    }

    &.index-2 {
      grid-column-start: 7;
      grid-row-start: 4;
    }

    &.index-3 {
      grid-column-start: 3;
      grid-row-start: 4;
    }

    &.index-4 {
      grid-column-start: 5;
      grid-row-start: 6;
    }

    &.index-5 {
      grid-column-start: 9;
      grid-row-start: 6;
    }
  }

  .grid__category-spacer,
  .grid__category-spacer-extra {
    grid-row-start: 1;

    &.index-0,
    &.index-1 {
      grid-row-end: span 2;
    }
  }

  .grid__category-spacer {
    &.index-0 {
      grid-column-start: 5;
    }

    &.index-1 {
      grid-column-start: 7;
    }

    &.index-4 {
      grid-column-start: 3;
      grid-row-start: 8;
    }

    &.index-5 {
      grid-column-start: 7;
      grid-row-start: 8;
    }
  }

  .grid__category-spacer-extra {
    &.index-0 {
      grid-column-start: 3;
    }

    &.index-1 {
      grid-column-start: 9;
    }
  }
}

@media (min-width: 1024px) {
  .grid__category-spacer-end {
    &.end-cap-1 {
      grid-column-start: 3;
      grid-row-start: 9;
    }

    &.end-cap-2 {
      grid-column-start: 5;
      grid-row-start: 9;
    }

    &.end-cap-3 {
      grid-column-start: 7;
      grid-row-start: 9;
    }

    &.end-cap-4 {
      grid-column-start: 9;
      grid-row-start: 9;
    }
  }
}

/* Posts, Spacers, and Loops */
@media (max-width: 719px) {
  .grid__post {
    /* Posts in the first column */
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 1;
    }

    /* Posts in the second column */
    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 3;
    }
  }

  .grid__post-spacer {
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 5;
    }

    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 1;
    }
  }

  /* Post rows */
  .grid__post,
  .grid__post-spacer {
    &.index-0 {
      grid-row-start: 2;
    }

    &.index-1 {
      grid-row-start: 4;
    }

    &.index-2 {
      grid-row-start: 6;
    }
    &.index-3 {
      grid-row-start: 8;
    }
    &.index-4 {
      grid-row-start: 10;
    }
    &.index-5 {
      grid-row-start: 12;
    }
  }
}

@media (min-width: 720px) {
  .grid__post {
    &.index-0 {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    &.index-1 {
      grid-column-start: 6;
      grid-row-start: 3;
    }

    &.index-2 {
      grid-column-start: 8;
      grid-row-start: 5;
    }
    &.index-3 {
      grid-column-start: 4;
      grid-row-start: 5;
    }
    &.index-4 {
      grid-column-start: 2;
      grid-row-start: 7;
    }
    &.index-5 {
      grid-column-start: 6;
      grid-row-start: 7;
    }
  }

  .grid__post-spacer {
    &.index-0 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 3;
      margin-left: 75px;
    }

    &.index-1 {
      grid-column-start: 10;
      grid-row-start: 3;
    }

    &.index-3 {
      grid-column-start: 2;
      grid-row-start: 5;
    }
  }

  /* .grid__post-loop__outer {
    &.index-1 {
      grid-column-start: 11;
      grid-row: 3 / span 3;
    }

    &.index-3 {
      grid-column-start: 1;
      grid-row: 5 / span 3;
    }
  }

  .grid__post-loop__inner {
    &.index-1 {
      grid-column: 10 / span 2;
      grid-row: 4;
    }

    &.index-3 {
      grid-column: 1 / span 2;
      grid-row: 6;
    }
  } */
}

@media (min-width: 1024px) {
  .grid__post-loop__outer {
    &.index-1 {
      grid-column-start: 11;
      grid-row: 3 / span 3;
    }

    &.index-3 {
      grid-column-start: 1;
      grid-row: 5 / span 3;
    }
  }

  .grid__post-loop__inner {
    &.index-1 {
      grid-column: 10 / span 2;
      grid-row: 4;
    }

    &.index-3 {
      grid-column: 1 / span 2;
      grid-row: 6;
    }
  }
}

/* Grid item styling */
@media (max-width: 719px) {
  .tablet-and-up,
  .tablet-only,
  .desktop-only {
    display: none !important;
  }

  .logo__mobile {
    padding: 50px 20px;
    background-color: var(--weft-background-color);
    box-shadow: 0 2px 0 var(--weft-box-shadow-color);

    img {
      width: 50%;
    }
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  .mobile-only,
  .desktop-only {
    display: none;
  }

  .grid__logo-tablet {
    z-index: 3;
    margin: 0 auto;
    align-self: center;

    img {
      width: 380px;
    }
  }
}

@media (min-width: 1024px) {
  .mobile-only,
  .grid__logo-tablet {
    display: none;
  }

  .grid__logo {
    align-self: center;
  }

  .logo {
    position: relative;
    height: 250px;
  }

  .grid__subtitle {
    display: flex;
    align-items: end;

    p {
      margin: 10px 0 25px 20px;
    }
  }
}

.grid__navigation,
.grid__category,
.grid__post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__category,
.grid__category-spacer,
.grid__category-spacer-extra,
.grid__category-spacer-end {
  box-shadow: 2px 0 0 var(--warp-box-shadow-color);
  z-index: 2;
  background-color: var(--warp-background-color);
}

.grid__post,
.grid__post-spacer,
.grid__navigation {
  box-shadow: 0 2px 0 var(--weft-box-shadow-color);
  background-color: var(--weft-background-color);
}

.grid__post-loop__outer,
.grid__post-loop__inner {
  &.index-1 {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }

  &.index-3 {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }
}

.grid__post-loop__outer {
  background-color: var(--weft-background-color);
  box-shadow: 0 2px 0 var(--weft-box-shadow-color);
}

.grid__post-loop__inner {
  background-color: var(--site-background-color);
  box-shadow: 0 -2px 0 var(--weft-box-shadow-color);
  width: 75px;

  &.index-3 {
    justify-self: end;
  }
}

.grid__post .post__text {
  display: flex;
  justify-content: center;
  width: 180px;
  transition: visibility 500ms, opacity 500ms;
  visibility: hidden;
  opacity: 0;
  background-color: var(--warp-background-color);
  z-index: 2;
}

.grid__post:hover {
  .post__text {
    visibility: visible;
    opacity: 1;
  }
}

.navigation__link {
  border-bottom: 2px solid var(--primary-accent-color);
}

/*
*
* Page layouts
*
*/
.page__logo {
  width: 300px;
}

.header {
  padding-top: 100px;
  margin: 0 auto;

  &.narrow-header-width {
    width: 600px;
    padding: 100px 30px 30px 30px;
    background-color: var(--warp-background-color);
  }
}

.narrow-body-width {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 30px 100px 30px;
  background-color: var(--warp-background-color);
}
