/*
/*
Global styling
/*
/*/
:root {
  --warp-background-color: #fefaef;
  --warp-box-shadow-color: #e2dace;
  --weft-background-color: #eeb310;
  --weft-box-shadow-color: #b68500;
  --text-color: black;
  --border-line-weight: 1px;
  --site-background-color: rgb(148, 223, 255);
}

body {
  background-color: var(--site-background-color);
  margin: auto;
}

h1 {
  width: 200px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/*
/*
Homepage grid
/*
/*/

.homepage-grid {
  display: grid;
  margin: 0 auto;

  @media (max-width: 719px) {
    grid-template-columns: repeat(2, 8% 38%) 8%;
    grid-template-rows: repeat(6, 30px 150px) 30px;
  }

  @media (min-width: 1024px) {
    width: 1320px;
    grid-template-columns: 200px 40px repeat(4, 180px 40px) 200px;
    grid-template-rows: 100px 40px repeat(3, 180px 40px);
  }
}

/*
Grid item span and placement
/*
/* Common spans */
.grid__category {
  grid-row-end: span 3;
}

.grid__post {
  grid-column-end: span 3;
}

/* Desktop only logo, subtitle, nav */
.grid__logo {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

.grid__subtitle {
  grid-column: 10 / span 2;
  grid-row: 1 / span 2;
}

.grid__navigation {
  grid-column: 10 / span 2;
  grid-row: 7;
}

/* Categories and Spacers */
@media (max-width: 719px) {
  .grid__category {
    /* Categories in the first column */
    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 2;
    }

    /* Categories in the second column*/
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 4;
    }

    /* Category rows */
    &.index-0 {
      grid-row-start: 1;
    }

    &.index-1 {
      grid-row-start: 3;
    }

    &.index-2 {
      grid-row-start: 5;
    }

    &.index-3 {
      grid-row-start: 7;
    }

    &.index-4 {
      grid-row-start: 9;
    }

    &.index-5 {
      grid-row-start: 11;
    }
  }

  .grid__category-spacer {
    &.index-0 {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    &.index-5 {
      grid-column-start: 4;
      grid-row-start: 13;
    }
  }
}

@media (min-width: 1024px) {
  .grid__category {
    &.index-0 {
      grid-column-start: 5;
      grid-row-start: 2;
    }

    &.index-1 {
      grid-column-start: 9;
      grid-row-start: 2;
    }

    &.index-2 {
      grid-column-start: 7;
      grid-row-start: 4;
    }

    &.index-3 {
      grid-column-start: 3;
      grid-row-start: 4;
    }

    &.index-4 {
      grid-column-start: 5;
      grid-row-start: 6;
    }

    &.index-5 {
      grid-column-start: 9;
      grid-row-start: 6;
    }
  }

  .grid__category-spacer,
  .grid__category-spacer-extra {
    grid-row-start: 1;

    &.index-0,
    &.index-1 {
      grid-row-end: span 2;
    }
  }

  .grid__category-spacer {
    &.index-0 {
      grid-column-start: 5;
    }

    &.index-1 {
      grid-column-start: 7;
    }

    &.index-4 {
      grid-column-start: 3;
      grid-row-start: 8;
    }

    &.index-5 {
      grid-column-start: 7;
      grid-row-start: 8;
    }
  }

  .grid__category-spacer-extra {
    &.index-0 {
      grid-column-start: 3;
    }

    &.index-1 {
      grid-column-start: 9;
    }
  }
}

/* Posts, Spacers, and Loops */
@media (max-width: 719px) {
  .grid__post {
    /* Posts in the first column */
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 1;
    }

    /* Posts in the second column */
    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 3;
    }
  }

  .grid__post-spacer {
    &.index-0,
    &.index-2,
    &.index-4 {
      grid-column-start: 5;
    }

    &.index-1,
    &.index-3,
    &.index-5 {
      grid-column-start: 1;
    }
  }

  /* Post rows */
  .grid__post,
  .grid__post-spacer {
    &.index-0 {
      grid-row-start: 2;
    }

    &.index-1 {
      grid-row-start: 4;
    }

    &.index-2 {
      grid-row-start: 6;
    }
    &.index-3 {
      grid-row-start: 8;
    }
    &.index-4 {
      grid-row-start: 10;
    }
    &.index-5 {
      grid-row-start: 12;
    }
  }
}

@media (min-width: 1024px) {
  .grid__post {
    &.index-0 {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    &.index-1 {
      grid-column-start: 6;
      grid-row-start: 3;
    }

    &.index-2 {
      grid-column-start: 8;
      grid-row-start: 5;
    }
    &.index-3 {
      grid-column-start: 4;
      grid-row-start: 5;
    }
    &.index-4 {
      grid-column-start: 2;
      grid-row-start: 7;
    }
    &.index-5 {
      grid-column-start: 6;
      grid-row-start: 7;
    }
  }

  .grid__post-spacer {
    &.index-0 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 3;
      margin-left: 90px;
    }

    &.index-1 {
      grid-column-start: 10;
      grid-row-start: 3;
    }

    &.index-3 {
      grid-column-start: 2;
      grid-row-start: 5;
    }
  }

  .grid__post-loop__outer {
    &.index-1 {
      grid-column-start: 11;
      grid-row: 3 / span 3;
    }

    &.index-3 {
      grid-column-start: 1;
      grid-row: 5 / span 3;
    }
  }

  .grid__post-loop__inner {
    &.index-1 {
      grid-column: 10 / span 2;
      grid-row: 4;
    }

    &.index-3 {
      grid-column: 1 / span 2;
      grid-row: 6;
    }
  }
}

/* Grid item styling */
@media (max-width: 719px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .grid__logo {
    align-self: center;
  }

  .logo {
    position: relative;
    height: 250px;
  }

  .grid__subtitle {
    display: flex;
    align-items: end;

    p {
      margin: 10px 0 25px 20px;
    }
  }
}

.grid__navigation,
.grid__category,
.grid__post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__category,
.grid__category-spacer,
.grid__category-spacer-extra {
  box-shadow: 2px 0 0 var(--warp-box-shadow-color);
  z-index: 2;
  background-color: var(--warp-background-color);
}

.grid__post,
.grid__post-spacer,
.grid__navigation {
  box-shadow: 0 2px 0 var(--weft-box-shadow-color);
  background-color: var(--weft-background-color);
}

.grid__post-loop__outer,
.grid__post-loop__inner {
  &.index-1 {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }

  &.index-3 {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }
}

.grid__post-loop__outer {
  background-color: var(--weft-background-color);
  box-shadow: 0 2px 0 var(--weft-box-shadow-color);
}

.grid__post-loop__inner {
  background-color: var(--site-background-color);
  box-shadow: 0 -2px 0 var(--weft-box-shadow-color);
  width: 75px;

  &.index-3 {
    justify-self: end;
  }
}

.grid__post .post__text {
  display: flex;
  justify-content: center;
  width: 180px;
  transition: visibility 500ms, opacity 500ms;
  visibility: hidden;
  opacity: 0;
  background-color: var(--warp-background-color);
  z-index: 2;
}

.grid__post:hover {
  .post__text {
    visibility: visible;
    opacity: 1;
  }
}

.navigation__link {
  border-bottom: 2px solid var(--text-color);
}
